<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Totem - Retirada de Senha</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <script>
    const API_URL_NODE = "{{API_URL_NODE}}";
    const API_URL_FLASK = "{{API_URL_FLASK}}";
</script>
</head>

<body>
  <div class="wrap">
    <header>
      <h1>Posto de Atendimento ao Contribuinte</h1>
      <p>Retire sua senha</p>
    </header>
    <main>
      <h2>Selecione o tipo de atendimento</h2>
      <div class="grid">
        <button class="btn normal" onclick="takeTicket('N')">Senha Normal</button>
        <button class="btn preferencial" onclick="takeTicket('P')">Senha Preferencial</button>
      </div>
    </main>

    <footer>
      Prefeitura Municipal - Totem de Atendimento
    </footer>
  </div>
  <script src="{{url_for('static', filename='totem.js')}}"></script>
</body>

</html>